$genericFont: 'Montserrat', sans-serif;
$bodyFont: 14px;
$primaryColor: #0087cf;
$tertiaryColor: #ffc107;
$green: green;

* {
    box-sizing: border-box;
}
img.logo {
    display: block;
    max-width: 300px;
}
header {
    background-color: #4257a0;
    box-shadow: 0 0 3px #ccc;
    position: relative;
    z-index: 2;
}
app-root {
    position: relative;
    z-index: 1;
}
html, body {
    margin: 0;
    padding: 0
}
html {
    font-family: $genericFont;
    line-height:2;
    font-size: $bodyFont;
}
textarea {
    height: calc(100% - 80px);
    font-family: $genericFont;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    resize: auto;
    padding: 10px;
    font-size: $bodyFont;
    margin-bottom: 20px;
    resize:none
}
button {
    font-size: $bodyFont;
    font-family: $genericFont;
    cursor: pointer;
    height: 40px;
    border: 0;
    padding: 0 20px;
    ion-icon {
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
    }
    &.primary {
        background-color: $primaryColor;
        color: #fff;
    }
    &.secondary {
        background-color: #ccc;
        color: #555;
    }
    &.tertiary {
        background-color: $tertiaryColor;
        color: #555;
    }
    &.green {
        background-color: $green;
        color: #fff;
    }
}
.steps {
    width: 100%;
}
ul {
    &.tabs {
        width: 100%;
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        background-color: #ccc;
        line-height: 60px;
        text-align: center;
        li {
            padding: 0;
            flex: 1;
            background-color: green;
            color: #fff;
            &.active {
                background-color: $primaryColor;
                color: #fff;
                ~ li {
                    background-color: #ccc;
                }
            }
        }
    }
}
.btn-box {
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;
    padding: 20px;
    box-shadow: 0 0 3px #ccc;
}
template-home, app-root, .home {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 86px);
}
.starter {
    display: flex;
    width: 100%;
    height: 100%;
    h1 {
        &.heading {
            color: $primaryColor;
            cursor: pointer;
            font-size: 64px;
            text-align: center;
            line-height: 104px;
            padding: 30px;
            line-height: 64px;
            margin: auto;
            border: 4px double $primaryColor;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: $primaryColor;
                opacity: 0.8;
                color: #fff;
                border-color: #fff;
            }
        }
    }
}
.text-form {
    position: fixed;
    left: calc(50% + 10px);
    right: 0;
    top: 165px;
    bottom: 100px;
    padding: 20px;
    background-color: #eee;
    p {
        margin: -10px 0 5px;
        line-height: 30px;
    }
}
.tabs-content {
    margin: 0;
    padding: 0;
    list-style: none
}
.final-preview {
    padding: 20px;
    position: relative;
    height: calc(100vh - 226px);
    .text {
        bottom: 20px;
        position: absolute;
        left: 20px;
        right: 70%;
        background-color: rgb(47,136,208,0.5);
        top: 20px;
        z-index: 1;
        padding: 40px;
        font-size: 20px;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
    video.video {
        background-color: #000;
        max-height: 100%;
        height: 100%;
        z-index: 0;
        position: relative;
    }
}